.eggs/
.venv/
__pycache__/
_yottadbexceptions.h
_yottadbconstants.h
build/
dist/
*.swp
tests/__pycache__/
yottadb.egg-info/
mumps.dat
tests/m_routines/*.o
*.out
core[0-9]*
YDB_FATAL_ERROR.ZSHOW_DMP*.txt
.pytest_cache
clang_tidy_warnings.txt
filenames.txt
no_note.txt
sorted_warnings.txt
warnings.txt
tmp*
